:root{
	--font-family:"Gilroy-Regular",sans-serif;
	--content-width:1400px;
	--container-offset:15px;
	--container-width:calc(var(--content-width) + (var(--container-offset) * 2));
	--light-color:#fff;
	--main-color:#bf894b;
	--dark-color:#3d3e40;
	--gray-color:#afafaf;
	--second-color:#f7f9fc;
	--storm-color:#2c2c2c;
	--submarine-color:#b8c0c6;
	--hover-color:#c48b47;
	--cod-color:#0c0c0c
}
.custom-checkbox__field:checked+.custom-checkbox__content::after{
	opacity:1
}
.custom-checkbox__field:focus+.custom-checkbox__content::before{
	outline:red solid 2px;
	outline-offset:2px
}
.custom-checkbox__field:disabled+.custom-checkbox__content{
	opacity:.4;
	pointer-events:none
}
@font-face{
	font-family:AtomicAlice;
	src:url(../fonts/AtomicAlice-SemiBold.woff2) format("woff2");
	font-weight:600;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:CeraPro;
	src:url(../fonts/CeraPro-Regular.woff2) format("woff2");
	font-weight:400;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:CeraPro;
	src:url(../fonts/CeraPro-Medium.woff2) format("woff2");
	font-weight:500;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:CeraPro;
	src:url(../fonts/CeraPro-Bold.woff2) format("woff2");
	font-weight:700;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:Gilroy;
	src:url(../fonts/Gilroy-Light.woff2) format("woff2");
	font-weight:300;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:Gilroy;
	src:url(../fonts/Gilroy-Regular.woff2) format("woff2");
	font-weight:400;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:Gilroy;
	src:url(../fonts/Gilroy-RegularItalic.woff2) format("woff2");
	font-weight:400;
	font-display:swap;
	font-style:italic
}
@font-face{
	font-family:Gilroy;
	src:url(../fonts/Gilroy-Medium.woff2) format("woff2");
	font-weight:500;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:Gilroy;
	src:url(../fonts/Gilroy-Semibold.woff2) format("woff2");
	font-weight:600;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:Gilroy;
	src:url(../fonts/Gilroy-SemiboldItalic.woff2) format("woff2");
	font-weight:600;
	font-display:swap;
	font-style:italic
}
@font-face{
	font-family:Gilroy;
	src:url(../fonts/Gilroy-Bold.woff2) format("woff2");
	font-weight:700;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:GoshaSans;
	src:url(../fonts/GoshaSans-Regular.woff2) format("woff2");
	font-weight:400;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:GoshaSans;
	src:url(../fonts/GoshaSans-Bold.woff2) format("woff2");
	font-weight:700;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:RobotoFlex;
	src:url(../fonts/RobotoFlexRegular.woff2) format("woff2");
	font-weight:400;
	font-display:swap;
	font-style:normal
}
@font-face{
	font-family:"Tenor Sans";
	src:url(../fonts/TenorSans.woff2) format("woff2");
	font-weight:400;
	font-display:swap;
	font-style:normal
}
html{
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
*,::after,::before{
	-webkit-box-sizing:inherit;
	box-sizing:inherit
}
.page{
	height:100%;
	font-family:var(--font-family,sans-serif);
	-webkit-text-size-adjust:100%
}
.page__body{
	margin:0;
	min-width:320px;
	min-height:100%;
	font-size:16px
}
img{
	height:auto;
	max-width:100%;
	-o-object-fit:cover;
	object-fit:cover
}
a{
	text-decoration:none
}
.site-container{
	overflow:hidden
}
.is-hidden{
	display:none!important
}
.btn-reset{
	border:none;
	padding:0;
	background-color:transparent;
	cursor:pointer
}
.list-reset{
	list-style:none;
	margin:0;
	padding:0
}
.input-reset{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border:none;
	border-radius:0;
	background-color:#fff
}
.input-reset::-webkit-search-cancel-button,.input-reset::-webkit-search-decoration,.input-reset::-webkit-search-results-button,.input-reset::-webkit-search-results-decoration{
	display:none
}
.visually-hidden{
	position:absolute;
	overflow:hidden;
	margin:-1px;
	border:0;
	padding:0;
	width:1px;
	height:1px;
	clip:rect(0 0 0 0)
}
.container{
	margin:0 auto;
	padding:0 var(--container-offset);
	max-width:var(--container-width)
}
.js-focus-visible :focus:not(.focus-visible){
	outline:0
}
.centered{
	text-align:center
}
.dis-scroll{
	position:fixed;
	left:0;
	top:0;
	overflow:hidden;
	width:100%;
	height:100vh;
	-ms-scroll-chaining:none;
	overscroll-behavior:none
}
.page--ios .dis-scroll{
	position:relative
}
.flex{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex
}
.grid{
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:(1fr)[12];
	grid-template-columns:repeat(12,1fr);
	-webkit-column-gap:32px;
	-moz-column-gap:32px;
	column-gap:32px
}
.logo{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex
}
.logo--img{
	margin-left:-56px
}
@media (max-width:634px){
	.logo{
		width:160px;
		height:40px
	}
	.logo--img{
		margin-left:-36px
	}
}
.button{
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex;
	padding:25px 45px;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	border-radius:48px;
	background:linear-gradient(134deg,#c8a06f -.01%,#bf894b 100.03%);
	color:var(--light-color);
	font-family:Gilroy;
	font-size:16px;
	font-weight:300;
	line-height:140%;
	text-transform:uppercase
}
.burger{
	z-index:999;
	--burger-width:30px;
	--burger-height:30px;
	--burger-line-height:2px;
	position:relative;
	border:none;
	padding:0;
	width:var(--burger-width);
	height:var(--burger-height);
	color:#000;
	background-color:transparent;
	cursor:pointer;
	--burger-height:20px;
	display:none;
	color:var(--main-color)
}
.burger::after,.burger::before{
	content:"";
	position:absolute;
	left:0;
	width:100%;
	height:var(--burger-line-height);
	background-color:currentColor;
	-webkit-transition:top .3s ease-in-out,-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out,top .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.burger::before{
	top:0
}
.burger::after{
	top:calc(100% - var(--burger-line-height))
}
.burger__line{
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	height:var(--burger-line-height);
	background-color:currentColor;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	-webkit-transition:-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out;
	transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.burger--active::before{
	top:50%;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	-webkit-transition:top .3s ease-in-out,-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out,top .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.burger--active::after{
	top:50%;
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
	-webkit-transition:top .3s ease-in-out,-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out,top .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.burger--active .burger__line{
	-webkit-transform:scale(0);
	-ms-transform:scale(0);
	transform:scale(0);
	-webkit-transition:-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out;
	transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.header{
	color:var(--light-color)
}
.header--position{
	position:absolute;
	left:0;
	top:0;
	width:100%
}
.header__top{
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	padding-top:20px;
	margin-bottom:11px
}
.header__btn{
	margin-left:16px;
	border:1px solid var(--light-color);
	background:0 0;
	font-family:Gilroy;
	font-size:16px;
	font-weight:400;
	line-height:140%;
	text-transform:uppercase;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
}
.header-contacts{
	position:relative;
	margin-left:32px;
	padding-left:32px
}
@media (max-width:1439px){
	.burger{
		display:block
	}
	.header__top{
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content:space-between;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center
	}
	.header-contacts,.header__btn{
		display:none
	}
}
.header-contacts__info{
	width:216px;
	margin-top:5px;
	font-family:Gilroy;
	font-size:16px;
	font-weight:400;
	line-height:120%
}
.header-contacts__address{
	color:var(--light-color);
	margin-bottom:5px;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
}
.header-contacts__address::before{
	position:absolute;
	content:"";
	left:0;
	top:4px;
	width:24px;
	height:24px;
	background-image:url(../img/icon.svg);
	background-repeat:no-repeat
}
.header-contacts__email{
	color:var(--gray-color)
}
.header-contacts__call{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	margin-left:76px;
	position:relative;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-align:end;
	-ms-flex-align:end;
	align-items:flex-end;
	color:var(--gray-color);
	font-family:Gilroy;
	font-weight:400;
	line-height:120%
}
.header-contacts__caption{
	font-size:16px;
	margin-bottom:4px
}
.header-contacts__tel{
	font-family:CeraPro;
	color:var(--light-color);
	font-size:24px;
	font-weight:400;
	line-height:120%;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
}
.header-contacts__tel::after{
	position:absolute;
	content:"";
	left:-38px;
	bottom:24px;
	width:24px;
	height:24px;
	background-image:url(../img/call.svg);
	background-repeat:no-repeat
}
.header-contacts__descr{
	font-size:14px
}
.search{
	margin-left:30px;
	max-width:326px;
	width:100%;
	-ms-flex-negative:0;
	flex-shrink:0;
	background-color:var(--light-color);
	border-radius:32px
}
@media (max-width:1439px){
	.search{
		display:none
	}
}
.search__input{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	color:var(--dark-color);
	font-family:RobotoFlex;
	font-size:14px;
	line-height:140%;
	text-transform:uppercase;
	outline:0;
	border:none
}
.search__btn{
	background:0 0;
	border:none;
	cursor:pointer;
	padding:10px
}
.search__btn img{
	padding-left:10px
}
input[type=text]{
	border:none;
	color:var(--dark-color);
	font-family:RobotoFlex;
	font-size:14px;
	line-height:140%;
	text-transform:uppercase;
	outline:0
}
.nav__list{
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex;
	border-radius:24px;
	padding:16px 19px 17px 18px;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	gap:29px;
	background-color:var(--storm-color)
}
@media (max-width:1439px){
	.nav__list{
		display:none
	}
}
.nav__link{
	color:var(--light-color);
	font-family:Gilroy;
	font-size:16px;
	font-weight:400;
	line-height:120%;
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
}
.nav__link:focus{
	outline:0
}
.hero{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	min-height:930px;
	background:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.65)),to(rgba(0,0,0,.65))),url(../img/hero-bg.jpg),50% #d3d3d3;
	background:linear-gradient(0deg,rgba(0,0,0,.65) 0,rgba(0,0,0,.65) 100%),url(../img/hero-bg.jpg),50% #d3d3d3;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	color:var(--light-color)
}
.hero__content{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	text-align:center;
	padding-top:289px
}
.hero__title{
	margin:0 0 18px;
	max-width:870px;
	width:100%;
	font-family:Tenor Sans;
	font-size:72px;
	font-weight:400;
	line-height:120%;
	text-transform:uppercase
}
@media (max-width:868px){
	.hero__title{
		font-size:48px;
		line-height:120%;
		margin-bottom:16px
	}
}
@media (max-width:634px){
	.hero{
		min-height:auto;
		padding-bottom:149px
	}
	.hero__content{
		padding-top:200px
	}
	.hero__title{
		font-size:28px
	}
}
.hero__descr{
	margin:0 0 48px;
	max-width:680px;
	width:100%;
	font-family:Gilroy;
	font-size:32px;
	font-weight:400;
	line-height:140%
}
@media (max-width:868px){
	.hero__descr{
		font-size:32px;
		max-width:680px;
		line-height:140%;
		margin-bottom:48px
	}
}
.hero-form{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}
.hero-form__input{
	width:320px;
	height:72px;
	padding:10px 24px;
	border-radius:48px 0 0 48px;
	background:var(--light-color)
}
.hero-form__btn{
	margin-left:-30px;
	font-family:Gilroy;
	font-size:16px;
	line-height:140%;
	text-transform:uppercase;
	border-radius:48px;
	background:linear-gradient(134deg,#c8a06f -.01%,#bf894b 100.03%)
}
@media (max-width:634px){
	.hero__descr{
		font-size:16px;
		margin-bottom:32px
	}
	.hero-form{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-ms-flex-direction:column;
		flex-direction:column;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-pack:center;
		-ms-flex-pack:center;
		justify-content:center
	}
	.hero-form__input{
		max-width:340px;
		height:60px;
		border-radius:48px;
		margin-bottom:15px
	}
	.hero-form__btn{
		margin-left:0;
		height:60px;
		padding:20px 50px
	}
}
.services{
	background-color:var(--second-color)
}
.services__container{
	padding-top:110px;
	padding-bottom:120px
}
.services__title{
	margin:0 0 60px;
	color:var(--dark-color);
	font-family:Tenor Sans;
	font-size:48px;
	font-weight:400;
	line-height:120%;
	text-transform:uppercase
}
.services__title span{
	color:var(--main-color)
}
@media (max-width:868px){
	.services__title{
		font-size:36px;
		line-height:120%;
		margin-bottom:48px
	}
}
.services__list{
	row-gap:40px;
	-webkit-column-gap:30px;
	-moz-column-gap:30px;
	column-gap:30px
}
@media (max-width:634px){
	.services__container{
		padding-top:50px;
		padding-bottom:75px
	}
	.services__title{
		font-size:28px;
		margin-bottom:18px
	}
	.services__list{
		-ms-grid-columns:(1fr)[2];
		grid-template-columns:repeat(2,1fr);
		row-gap:20px
	}
}
.services__item{
	-ms-grid-column-span:6;
	grid-column:6 span;
	max-width:685px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	min-height:513px;
	height:100%;
	-webkit-box-align:start;
	-ms-flex-align:start;
	align-items:flex-start;
	border-radius:20px;
	background-color:var(--light-color);
	padding:35px 40px 38px 38px
}
.services__subtitle{
	margin:0 0 26px;
	color:var(--dark-color);
	font-family:Tenor Sans;
	font-size:32px;
	font-weight:400;
	line-height:120%;
	text-transform:uppercase
}
@media (max-width:868px){
	.services__subtitle{
		font-size:26px;
		line-height:120%;
		margin-bottom:20px
	}
}
@media (max-width:634px){
	.services__item{
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		min-height:auto;
		padding:25px 21px 25px 25px
	}
	.services__subtitle{
		font-size:20px
	}
}
.services__descr{
	margin:0 0 8px;
	max-width:577px;
	font-family:Gilroy;
	font-size:18px;
	font-weight:400;
	line-height:160%;
	padding-left:38px;
	background-position:7px 7px;
	background-size:19px 17px;
	background-repeat:no-repeat
}
.services__descr--mark{
	background-image:url(../img/mark.svg)
}
@media (max-width:868px){
	.services__descr{
		font-size:16px
	}
	.services__btn{
		margin-top:20px
	}
}
@media (max-width:634px){
	.services__btn{
		padding:20px 63px
	}
}
@media (max-width:375px){
	.services__btn{
		padding:20px 45px
	}
}
.mobile{
	display:none;
	position:fixed;
	background-color:var(--cod-color);
	top:0;
	right:0;
	width:100%;
	height:100vh;
	z-index:100;
	padding:20px 11px 40px;
	overflow-y:auto;
	visibility:hidden;
	-webkit-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transform:translateX(100%);
	-webkit-transition:visibility .3s ease-in-out,-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out,visibility .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.mobile__logo{
	margin-bottom:20px
}
.mobile-nav{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-align:start;
	-ms-flex-align:start;
	align-items:flex-start
}
.mobile-nav__menu{
	max-width:350px
}
.mobile-nav__dropdown{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between
}
.mobile-nav__btn{
	padding-right:27px
}
.mobile-nav__btn svg{
	width:11px;
	height:5.5px;
	-ms-flex-negative:0;
	flex-shrink:0
}
.mobile-nav__search{
	display:block;
	margin-left:0;
	margin-bottom:40px
}
.mobile-nav__list{
	margin-bottom:59px
}
.mobile-nav__item:not(:last-child){
	padding-bottom:20px
}
.mobile-nav__info{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	margin-bottom:24px
}
.mobile-nav__address{
	margin-bottom:5px
}
.mobile-nav__address::before{
	display:none
}
.mobile-nav__call{
	width:100%;
	-webkit-box-align:start;
	-ms-flex-align:start;
	align-items:flex-start;
	margin-left:0
}
.mobile-nav__tel{
	padding-left:30px;
	margin-bottom:4px
}
.mobile-nav__tel::after{
	margin-left:27px
}
.mobile--active{
	visibility:visible;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
}
@media (max-width:1439px){
	.mobile--active{
		display:block
	}
}
.submenu,.submenu__list{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap
}
.submenu__item{
	margin-top:24px
}
.submenu__link{
	display:block;
	margin-bottom:4px;
	margin-right:54px;
	height:32px;
	width:115px;
	font-family:Gilroy;
	font-size:14px;
	font-weight:400;
	line-height:120%;
	padding-left:40px;
	background-position:left center;
	background-size:32px 32px;
	background-repeat:no-repeat;
	color:var(--light-color);
	-webkit-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
}
.submenu__link--dominica{
	background-image:url(../img/dominica.png)
}
.submenu__link--barbuda{
	background-image:url(../img/barbuda.png)
}
.submenu__link--caribs{
	background-image:url(../img/caribs.png)
}
.submenu__link--germani{
	background-image:url(../img/germani.png)
}
@media (any-hover:hover){
	.header-contacts__address:hover,.header-contacts__tel:hover,.header__btn:hover,.nav__link:hover{
		color:var(--main-color)
	}
	.hero-form__btn:hover,.services__btn:hover{
		background:var(--hover-color)
	}
	.submenu__link:hover{
		color:var(--main-color)
	}
}
